name: CD

on:
  workflow_dispatch:
  release:
    types: [released]

jobs:
  build-wheels:
    # if: ${{ false }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-11]

    steps:
    - uses: actions/checkout@v4

    - name: Build wheels
      uses: pypa/cibuildwheel@v2.16.2
      env:
        CIBW_BEFORE_ALL: |
          git clone https://github.com/pybind/pybind11.git
          cd pybind11
          git checkout v2.11.1
        CIBW_SKIP: pp*  # Skip PyPy
        MACOSX_DEPLOYMENT_TARGET: "10.14"

    - uses: actions/upload-artifact@v3
      with:
        path: ./wheelhouse/*.whl


  make-source-dist:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build SDist
      run: pipx run build --sdist

    - uses: actions/upload-artifact@v3
      with:
        path: dist/*.tar.gz


  upload_all:
    if: ${{ false }}
    needs: [build-wheels, make-source-dist]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/download-artifact@v3
      with:
        name: artifact
        path: dist

    - uses: pypa/gh-action-pypi-publish@release/v1
