name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - name: ubuntu-18.04-gcc-5
            os: ubuntu-18.04
            compiler: gcc
            version: 5

    steps:
    - uses: actions/checkout@v2

    - name: Install pybind11
      run: |
        git clone https://github.com/pybind/pybind11.git
        cd pybind11
        git checkout v2.6.0

    - name: Set compiler version and patch C++11
      if: runner.os == 'Linux' && matrix.compiler == 'gcc' && matrix.version == '5'
      run: |
        sudo apt-get update
        sudo apt-get install -y g++-${{ matrix.version }} g++-${{ matrix.version }}-multilib
        echo "CC=gcc-${{ matrix.version }}" >> $GITHUB_ENV
        echo "CXX=g++-${{ matrix.version }}" >> $GITHUB_ENV
        sh patch-c++11.sh inplace

    - name: Configure and make
      uses: lukka/run-cmake@v3
      with:
        cmakeListsOrSettingsJson: CMakeListsTxtAdvanced
        buildDirectory: "${{ github.workspace }}/build"
        cmakeBuildType: 'Release'
        cmakeAppendedArgs: '-DBUILD_PYTHON_MODULE=ON -DBUILD_EXAMPLES=ON -DBUILD_BENCHMARK=ON -DCMAKE_RUNTIME_OUTPUT_DIRECTORY_DEBUG=. -DCMAKE_LIBRARY_OUTPUT_DIRECTORY_DEBUG=.'

    - name: Run Examples (Unix)
      if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
      run: |
        ./build/example-position > /dev/null
        python3 ./examples/positionRealtime.py > /dev/null
        python3 ./examples/positionFlexibleTimings.py > /dev/null

    - name: Run Examples (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        .\build\example-position.exe > $null
        python3 .\examples\positionRealtime.py > $null
        python3 .\examples\positionFlexibleTimings.py > $null

    - name: Test
      if: matrix.os == 'ubuntu-latest'
      run: |
        env CTEST_OUTPUT_ON_FAILURE=1 ./build/otg-test 5000000
